static-site-gen/output/*.html
static-site-gen/output/subFolder
static-site-gen/static-site
static-site-gen/bin
static-site-gen/platform/target

roc-server/server
roc-server/roc-out

roc-server/.env
roc-server/setenv.sh
test.db
data.db

.DS_Store