:root {

    --black: #0f0d13;
    --violet: #7c38f5;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color: var(--black);
    font-size: 1.75rem;
    /* font-family: Inter; */
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}
a {
    color: var(--black);
    text-decoration: none;

  }

li {
    list-style: none;
}

main {
    margin-top: 1rem;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}


.top-header {
    overflow: hidden;
    background-color: #111;

    width: 100%;
    padding: 0.75rem;
}

.primary-navigation {
    padding-inline-start: 0;;

}

.primary-navigation a {
    color: #f2f2f2;
}

/* Primary Main */
.primary-container {
    margin-top: 1rem;
}

/* events main */
.events-main {
    display: inline-flex;

    padding: 1rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex-shrink: 0;

    .events-month-section {
        display: flex;
        padding: 0rem 0.5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        .events-month-section-header {
            display: flex;
            /* padding: 0.0625rem 5.0625rem 0.125rem 5rem; */
            justify-content: center;
            align-items: center;
            align-self: stretch;

            h2 {
                
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
    
            }
        }

    }

    .events-month-section-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        align-self: stretch;
    }

    .events-month-group{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
    }

    .events-month-group-header {
        display: flex;
        /* padding: 0.125rem 14.1875rem 0.1875rem 0rem; */
        align-items: center;
        align-self: stretch;

        h3 {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .events-month-group-event-list {
        display: flex;
        padding: 0.5rem 0rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.875rem;
        align-self: stretch;

        .event-list-item {
            display: flex;

            align-items: flex-end;
            gap: 1rem;
            align-self: stretch;
        }

        .event-list-item--head {
            display: flex;
            padding-left: 0.9375rem;
            justify-content: flex-end;
            align-items: center;
            align-self: stretch;

            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .event-list-item--body {
            display: flex;
            align-items: center;
            align-self: stretch;

            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}